* {
  box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #faebd7;
}

header{
    padding:20px;
    background-color: #191019;
}

header h1{
    padding:5px;
    text-align: right;
    color:#191019;
    background-color: #06D6A0;
    width:20%;
}
nav{
    display: flex;
    position:absolute;
    right:0;
}

nav a{
    padding: 20px;
    color: white;
}

nav li{
    display:inline-block;
}

section{
    margin: 20px;
    border-style: solid;
    border-width: 5px;;
    border-color:#06D6A0;
}

.work{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work img {
    height: 150px;
    width: 300px;
    object-fit: cover;
}

.main-project{
    padding:20px;
    flex: 0 0 100%;
    height: 300px;
    width: 600px;
}
.work .main-project img {
    width: 100%;
    height: 100%;
}

.placeholder-project,
.sub-project,
.another-project{
    padding:20px;
    flex:0 0 50%;
    height: 150px;
    width: 300px;
}
.placeholder-project img,
.sub-project img,
.another-project img{
    width: 100%;
    height: 100%;
}

.about-me p{
    padding-top: 20px;
    line-height: 1.5;
}

.contact-me ul{
    text-align: center;
}

.contact-me li{
    display:inline-block;
    padding: 20px 10px;
}

@media screen and (max-width:480px){
    .work{
        flex-direction: column;
    }
}
@media screen and (max-width:768px){
    .work{
        flex-direction: column;
    }
}
@media screen and (max-width:1024px){
    .work{
        flex-direction: column;
    }
}